.App {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: #61dafb;
  background-color: #282c34;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden auto;
}

/* HEADER COMPONENT CSS */

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 3rem;
}

.PrimaryRedText {
  color: #fa4454;
}

.PrimaryYellowText {
  color: #fcf230;
}

.PrimaryBlueText {
  color: #61dafb;
}


/* MAIN VOTE COMPONENT CSS */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-color: #1a1a1a;
}

.VotePrompt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.VotePanel {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.VoteChoice {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  width: 50%;
  cursor: pointer;
  height: 100%;
  transition: 1s;
}

.VoteOr{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 50%;
  transition: 0.2s;
}

.Voted {
  width: 100%;
  opacity: 1;
}

.NotVoted {
  width: 0%;
  opacity: 0;
}

.orFade {
  opacity: 0;
}

.PrimaryYellowBackground {
  background-color: #fcf230;
  color: #323001;
}

.PrimaryRedBackground {
  background-color: #fa4454;
  color: #320105;
}

.PrimaryBlueBackground {
  background-color: #61dafb;
  color: #282c34;
}